<main id="monthpicker">
    <ul>
        <li><a href="{{baseUrl}}spirit/partial/monthpicker/{{main}}/{{previousYear}}">Previous Year</a></li>
        <li><input type="text" value="{{year}}" /></li>
        <li><a href="{{baseUrl}}spirit/partial/monthpicker/{{main}}/{{nextYear}}">Next Year</a></li>
    </ul>
    <ol>
        {{#months}}
        <li>
            <a href="{{baseUrl}}spirit/{{main}}/{{year}}-{{id}}" {{^activated}}class="disabled"{{/activated}}>
                {{name}}
            </a>
        </li>
        {{/months}}
    </ol>
</main>