<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8" />
<title>Spirit Admin &ndash; {{title}}</title>
<meta name="author" content="Yichuan Shen" />
<link rel="stylesheet" type="text/css" href="{{baseUrl}}spirit/views/css/bootstrap.css" />

</head>
<body>

<header>
    <h1>Spirit Admin</h1>

    <nav>
        <ul>
            <li><a href="{{baseUrl}}spirit/photos">Photos</a></li>
            <li><a href="{{baseUrl}}spirit/albums">Albums</a></li>
            <li><a href="{{baseUrl}}spirit/users">Users</a></li>
            <li><a href="{{baseUrl}}spirit/settings">Settings</a></li>
        </ul>
    </nav>
</header>

<main>
{{{main}}}
</main>

</body>
</html>