<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8" />
<title>Spirit Admin &ndash; {{title}}</title>
<meta name="author" content="Yichuan Shen" />
<link rel="stylesheet" type="text/css" href="{{baseUrl}}spirit/views/css/bootstrap.css" />

<script src="//ajax.googleapis.com/ajax/libs/mootools/1.5.1/mootools-yui-compressed.js"></script>

</head>
<body>

<header>
    <h1>Spirit Admin</h1>

    <nav>
        <ul>
            <li{{#mainPhotos}} class="current"{{/mainPhotos}}><a href="{{baseUrl}}spirit/photos">Photos</a></li>
            <li{{#mainAlbums}} class="current"{{/mainAlbums}}><a href="{{baseUrl}}spirit/albums">Albums</a></li>
            <li{{#mainUsers}} class="current"{{/mainUsers}}><a href="{{baseUrl}}spirit/users">Users</a></li>
            <li{{#mainSettings} class="current"{{/mainSettings}}><a href="{{baseUrl}}spirit/settings">Settings</a></li>
            {{#user}}
            <li><a href="#">{{name}}</a></li>
            {{/user}}
        </ul>
    </nav>
</header>

<main>
{{{main}}}
</main>

</body>
</html>