<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8" />
<title>Spirit Admin &ndash; {{title}}</title>
<meta name="author" content="Yichuan Shen" />
<link rel="stylesheet" type="text/css" href="{{baseUrl}}spirit/views/css/bootstrap.css" />

<script src="//ajax.googleapis.com/ajax/libs/mootools/1.5.1/mootools-yui-compressed.js"></script>

</head>
<body>

<header>
    <h1>Spirit Admin</h1>

    <nav>
        <ul>
            <li{{#pagePhotos}} class="current"{{/pagePhotos}}><a href="{{baseUrl}}spirit/photos">Photos</a></li>
            <li{{#pageAlbums}} class="current"{{/pageAlbums}}><a href="{{baseUrl}}spirit/albums">Albums</a></li>
            <li{{#pageUsers}} class="current"{{/pageUsers}}><a href="{{baseUrl}}spirit/users">Users</a></li>
            <li{{#pageSettings} class="current"{{/pageSettings}}><a href="{{baseUrl}}spirit/settings">Settings</a></li>
        </ul>
    </nav>
</header>

<main>
{{{main}}}
</main>

</body>
</html>