<div id="toolbox">
    <ul>
        {{#hasFilters}}
        <li class="clearFilter">
            {{#filterSearch}}
            <a href="{{baseUrl}}spirit/photos" title="Clear filter">Filter: {{search}}</a>
            {{/filterSearch}}
            {{#filterMonth}}
            <a href="{{baseUrl}}spirit/photos" title="Clear filter">Filter: {{month}} {{year}}</a>
            {{/filterMonth}}
        </li>
        {{/hasFilters}}
        <li class="filter"><a href="#">Month</a></li>
        <li class="add"><a href="#">Add</a></li>
    </ul>
</div>

<main>
    <h2>Albums</h2>

{{#hasAlbums}}
    <ol class="albumstream">
    {{#albums}}
        <li>
            <h3>{{name}} <em>({{count}})</em></h3>
            <img src="{{largeImageLink}}" alt="{{name}}" />
            <ul>
                <li><a href="{{baseUrl}}spirit/albums/{{month}}" title="Filter by month">{{{formattedDate}}}</a></li>
                <li><a href="{{baseUrl}}spirit/photos/album/{{id}}" title="Show photos">Browse</a></li>
                <li><a href="{{baseUrl}}spirit/albums/edit/{{id}}">Edit</a></li>
                <li><a href="{{baseUrl}}spirit/albums/delete/{{id}}">Delete</a></li>
            </ul>
            <p>{{description}}</p>
        </li>
    {{/albums}}
    </ol>
{{/hasAlbums}}
{{^hasAlbums}}
    <p>Nothing found. Why not <em>add</em> some albums?</p>
{{/hasAlbums}}
</main>

<script type="text/javascript" src="{{baseUrl}}spirit/views/js/albums.js"></script>