<div id="toolbox">
    <ul>
        <li class="back"><a href="{{baseUrl}}spirit/albums">Back</a></li>
    </ul>
</div>

<main>
    <form method="post" action="{{baseUrl}}spirit/albums/edit/{{id}}">
        <ul class="form">
            <li class="title">
                <label><span>Name:</span>
                    <input type="text" value="{{name}}" name="name" placeholder="(Untitled)" maxlength="64" />
                </label>
            </li>
            <li>
                <label><span>Order:</span>
                    <select name="chronological">
                        <option value="1"{{#chronological}} selected{{/chronological}}>Chronological</option>
                        <option value="0"{{^chronological}} selected{{/chronological}}>Reverse-chronological</option>
                    </select>
                </label>
            </li>
            <li>
                <label><span>Description:</span>
                    <textarea name="description">{{description}}</textarea>
                </label>
            </li>
        </ul>

        <p>
            <button type="submit">{{#createNew}}Create{{/createNew}}{{^createNew}}Update{{/createNew}}</button>
        </p>
    </form>
</main>

<script type="text/javascript" src="{{baseUrl}}spirit/views/js/backbutton.js"></script>
<script type="text/javascript" src="{{baseUrl}}spirit/views/js/confirmclose.js"></script>