<main>
    <form method="post" action="{{baseUrl}}spirit/login">
        {{#flagInvalid}}
        <p class="error">The password is incorrect.</p>
        {{/flagInvalid}}
        <p>
            <label>
                <span>Email address:</span>
                <input type="text" name="email" required autofocus placeholder="Email Address" />
            </label>
        </p>
        <p>
            <label>
                <span>Password:</span>
                <input type="password" name="password" required placeholder="Password" />
            </label>
        </p>
        <p>
            <button type="submit">Login</button>
        </p>
    </form>
</main>