<main>
    <form method="post" action="{{baseUrl}}spirit/login">
        <p>
            <label>
                <span>Email address:</span>
                <input type="text" name="username" required placeholder="Email Address" />
            </label>
        </p>
        <p>
            <label>
                <span>Password:</span>
                <input type="password" name="password" required placeholder="Password" />
            </label>
        </p>
        <p>
            <button type="submit">Login</button>
        </p>
    </form>
</main>