<div id="toolbox">
    <ul>
        <li class="back"><a href="{{baseUrl}}spirit/photos">Back</a></li>
    </ul>
</div>

<main>
    <form method="post" action="{{baseUrl}}spirit/photos/edit/{{id}}">
        <p class="photo"><img src="{{largeImageLink}}" alt="{{title}}" /></p>

        <ul class="form">
            <li class="title">
                <label><span>Title:</span>
                    <input type="text" value="{{title}}" name="title" />
                </label>
            </li>
            <li class="date">
                <label><span>Date:</span>
                    <input type="date" value="{{date}}" name="date" />
                </label>
            </li>
            <li>
                <label><span>Albums:</span>
                    <input type="text" value="{{#albums}}{{name}}, {{/albums}}Add album" />
                </label>
            </li>
            <li>
                <label><span>Description:</span>
                    <textarea name="description">{{description}}</textarea>
                </label>
            </li>
        </ul>

        <p>
            <button type="submit">Update</button>
            <a href="{{baseUrl}}spirit/photos/delete/{{id}}" class="button delete">Delete Photo</a>
        </p>
    </form>
</main>

<script type="text/javascript" src="//cdn.jsdelivr.net/ace/1.1.8/min/ace.js"></script>
<script type="text/javascript" src="{{baseUrl}}spirit/views/js/backbutton.js"></script>
<script type="text/javascript" src="{{baseUrl}}spirit/views/js/markdown-editor.js"></script>