<div id="toolbox">
    <ul>
        {{#hasFilters}}
        <li class="clearFilter">
            {{#filterAlbum}}
            <a href="{{baseUrl}}spirit/photos" title="Clear filter">Filter: {{name}}</a>
            {{/filterAlbum}}
            {{#filterMonth}}
            <a href="{{baseUrl}}spirit/photos" title="Clear filter">Filter: {{month}} {{year}}</a>
            {{/filterMonth}}
            {{#filterSearch}}
            <a href="{{baseUrl}}spirit/photos" title="Clear filter">Filter: {{search}}</a>
            {{/filterSearch}}
        </li>
        {{/hasFilters}}
        <li class="filter"><a href="#">Album</a></li>
        <li class="filter"><a href="#">Month</a></li>
        <li class="upload"><a href="#">Upload</a></li>
        <li class="edit"><a href="#">Edit</a></li>
        <li class="delete"><a href="#">Delete</a></li>
    </ul>
</div>

<main>
    <h2>Photos</h2>
    
    {{#hasPhotos}}
    <ol class="photostream stream">{{#photos}}<li>
        <label>Select photo: <input type="checkbox" name="photoId[]" value="{{id}}" /></label>
        <a class="permalink" href="{{permalink}}" title="Permalink to &lsquo;{{title}}&rsquo;">Permalink</a>
        <a href="{{baseUrl}}spirit/photos/edit/{{id}}" title="Edit &lsquo;{{title}}&rsquo;">
            <img width="{{thumbWidth}}" height="{{thumbHeight}}" src="{{thumbnailLink}}" alt="{{title}}" />
        </a>
    </li>{{/photos}}</ol>
    {{/hasPhotos}}
    
    {{^hasPhotos}}
    <p>Nothing found. Why not <em>upload</em> some photos?</p>
    {{/hasPhotos}}
</main>

{{#hasPagination}}
    <ol id="pagination">
    {{#hasPreviousPage}}
        <li><a class="previous" href="{{previousPageLink}}">&laquo; Previous page</a></li>
    {{/hasPreviousPage}}
    {{#hasNextPage}}
        <li>
            <a class="next" href="{{nextPageLink}}">
                <img class="throbber" src="{{baseUrl}}spirit/views/resources/throbber.gif" alt="" />
                Next page &raquo;
            </a>
        </li>
    {{/hasNextPage}}
    </ol>
{{/hasPagination}}

<script type="text/javascript" src="{{baseUrl}}spirit/views/js/photos.js"></script>
<script type="text/javascript" src="{{baseUrl}}spirit/views/js/loadmore.js"></script>
<script type="text/javascript" src="{{baseUrl}}spirit/views/js/confirmdelete.js"></script>