<div id="toolbox">
    <ul>
        {{#filters}}
        <li class="clearFilters"><a href="{{baseUrl}}spirit/photos">Clear Filters</a></li>
        {{/filters}}
        <li class="filter"><a href="#">Album</a></li>
        <li class="filter"><a href="#">Month</a></li>
        <li class="upload"><a href="#">Upload</a></li>
        <li class="edit"><a href="#">Edit</a></li>
        <li class="delete"><a href="#">Delete</a></li>
    </ul>
</div>

<main>
{{#hasPhotos}}
    <ol class="photostream">
        {{#photos}}
        <li>
            <a class="permalink" href="{{permalink}}" title="Permalink to &lsquo;{{title}}&rsquo;">Permalink</a>
            <img src="{{thumbnailLink}}" alt="{{title}}" />
        </li>
        {{/photos}}
    </ol>
{{/hasPhotos}}
{{^hasPhotos}}
    Nothing found. Why not <em>upload</em> some photos?
{{/hasPhotos}}
</main>

<script type="text/javascript" src="{{baseUrl}}spirit/views/js/photostream.js"></script>