<div id="toolbox">
    <ul>
        <li class="about"><a href="{{baseUrl}}spirit/about">About</a></li>
    </ul>
</div>

<main>
    <h2>Settings</h2>

    <form method="post" action="{{baseUrl}}spirit/settings">
        <h3>General</h3>

        <ul class="form">
            <li class="title">
                <label><span>Title:</span>
                    <input type="text" value="{{title}}" name="title" placeholder="(Untitled)"{{^root}} disabled{{/root}} />
                </label>
            </li>
            <li>
                <label><span>Subtitle:</span>
                    <input type="text" value="{{subtitle}}" name="subtitle"{{^root}} disabled{{/root}} />
                </label>
            </li>
        </ul>

        <h3>Photos &amp; Albums</h3>

        <ul class="form">
            <li>
                <label><span>Large photo size:</span>
                    <input type="text" value="{{largeImageSize}}" name="largeImageSize" placeholder="<700"{{^root}} disabled{{/root}} />
                </label>
            </li>
            <li>
                <label><span>Thumbnail size:</span>
                    <input type="text" value="{{thumbSize}}" name="thumbSize" placeholder="170"{{^root}} disabled{{/root}} />
                </label>
            </li>
            <li>
                <label><span>Photos per page:</span>
                    <input type="number" value="{{photosPerPage}}" name="photosPerPage" placeholder="16"{{^root}} disabled{{/root}} />
                </label>
            </li>
            <li>
                <label><span>Albums per page:</span>
                    <input type="number" value="{{albumsPerPage}}" name="albumsPerPage" placeholder="10"{{^root}} disabled{{/root}} />
                </label>
            </li>
            <li>
                <label><span>Allow photo downloading:</span>
                    <input type="checkbox"{{#originalPhotoDownload}} checked{{/originalPhotoDownload}} name="originalPhotoDownload"{{^root}} disabled{{/root}} />
                </label>
            </li>
        </ul>

        <h3>Date &amp; Time</h3>

        <ul class="form">
            <li>
                <label><span>Timezone:</span>
                    <select name="timezone"{{^root}} disabled{{/root}}>
                        {{#timezones}}
                        <optgroup label="{{continent}}">
                            {{#cities}}
                            <option value="{{key}}"{{#selected}} selected{{/selected}}>{{name}}</option>
                            {{/cities}}
                        </optgroup>
                        {{/timezones}}
                    </select>
                </label>
            </li>
            <li>
                <label><span>Date format:</span>
                    <input type="text" value="{{dateFormat}}" name="dateFormat" placeholder="jS F, Y H:i"{{^root}} disabled{{/root}} />
                </label>
            </li>
            <li>
                <label><span>Month format:</span>
                    <input type="text" value="{{albumDateFormat}}" name="albumDateFormat" placeholder="F Y"{{^root}} disabled{{/root}} />
                </label>
            </li>
        </ul>

        <p>
            <button type="submit"{{^root}} disabled{{/root}}>Update</button>
            <button type="reset">Reset</button>
        </p>
    </form>
</main>

<script type="text/javascript" src="{{baseUrl}}spirit/views/js/settings.js"></script>
<script type="text/javascript" src="{{baseUrl}}spirit/views/js/dialog.js"></script>