<div id="toolbox">
    <ul>
        <li class="site"><a href="{{baseUrl}}" title="{{title}}">Visit Site</a></li>
        <li class="about"><a href="{{baseUrl}}spirit/about">About</a></li>
    </ul>
</div>

<main>
    <h2>Settings</h2>

    {{^root}}
    <p class="error">You don&rsquo;t have permission to edit settings.</p>
    {{/root}}

    <form method="post" action="{{baseUrl}}spirit/settings">
        <h3>General</h3>

        <ul class="form">
            <li class="title">
                <label><span>Title:</span>
                    <input type="text" value="{{title}}" name="title" placeholder="{{#standard}}{{title}}{{/standard}}"{{^root}} disabled{{/root}} />
                </label>
            </li>
            <li>
                <label><span>Tagline:</span>
                    <input type="text" value="{{subtitle}}" name="subtitle" placeholder="{{#standard}}{{subtitle}}{{/standard}}"{{^root}} disabled{{/root}} />
                </label>
            </li>
            <li>
                <label><span>Theme:</span>
                    <select name="theme"{{^root}} disabled{{/root}}>
                        {{#themes}}
                        <option value="{{id}}"{{#current}} selected{{/current}}>{{name}}</option>
                        {{/themes}}
                    </select>
                </label>
            </li>
        </ul>

        <h3>Photos &amp; Albums</h3>

        <ul class="form">
            <li>
                <label><span>Large photo size:</span>
                    <input type="text" value="{{largeImageSize}}" name="largeImageSize" placeholder="{{#standard}}{{largeImageSize}}{{/standard}}"{{^root}} disabled{{/root}} />
                </label>
            </li>
            <li>
                <label><span>Thumbnail size:</span>
                    <input type="text" value="{{thumbSize}}" name="thumbSize" placeholder="{{#standard}}{{thumbSize}}{{/standard}}"{{^root}} disabled{{/root}} />
                </label>
            </li>
            <li>
                <label><span>Photos per page:</span>
                    <input type="number" value="{{photosPerPage}}" name="photosPerPage" placeholder="{{#standard}}{{photosPerPage}}{{/standard}}"{{^root}} disabled{{/root}} />
                </label>
            </li>
            <li>
                <label><span>Albums per page:</span>
                    <input type="number" value="{{albumsPerPage}}" name="albumsPerPage" placeholder="{{#standard}}{{albumsPerPage}}{{/standard}}"{{^root}} disabled{{/root}} />
                </label>
            </li>
            <li>
                <label><span>Allow photo downloading:</span>
                    <input type="checkbox"{{#originalPhotoDownload}} checked{{/originalPhotoDownload}} name="originalPhotoDownload"{{^root}} disabled{{/root}} />
                </label>
            </li>
        </ul>

        <h3>Time &amp; Date</h3>

        <ul class="form">
            <li>
                <label><span>Timezone:</span>
                    <select name="timezone"{{^root}} disabled{{/root}}>
                        {{#timezones}}
                        <optgroup label="{{continent}}">
                            {{#cities}}
                            <option value="{{key}}"{{#selected}} selected{{/selected}}>{{name}}</option>
                            {{/cities}}
                        </optgroup>
                        {{/timezones}}
                    </select>
                </label>
            </li>
            <li>
                <label><span>Photo date format:</span>
                    <input type="text" value="{{dateFormat}}" name="dateFormat" placeholder="{{#standard}}{{dateFormat}}{{/standard}}"{{^root}} disabled{{/root}} />
                </label>
            </li>
            <li>
                <label><span>Album month format:</span>
                    <input type="text" value="{{albumDateFormat}}" name="albumDateFormat" placeholder="{{#standard}}{{albumDateFormat}}{{/standard}}"{{^root}} disabled{{/root}} />
                </label>
            </li>
        </ul>

        <p>
            <button type="submit"{{^root}} disabled{{/root}}>Update</button>
            <button type="reset">Reset</button>
        </p>
    </form>
</main>

<script type="text/javascript" src="{{baseUrl}}spirit/views/js/settings.js"></script>
<script type="text/javascript" src="{{baseUrl}}spirit/views/js/dialog.js"></script>
<script type="text/javascript" src="{{baseUrl}}spirit/views/js/confirmclose.js"></script>