<div id="toolbox">
    <ul>
        <li class="add"><a href="{{baseUrl}}spirit/users/new">New User</a></li>
    </ul>
</div>

<main>
    <h2>Users</h2>

    <ul class="userstream">
        {{#users}}
        <li>
            <a href="{{baseUrl}}spirit/users/{{id}}">
                <img src="{{avatarLink}}&amp;s=50" width="50" height="50" alt="Avatar" />
                {{name}}
                {{#admin}}<span>Admin</span>{{/admin}}
                {{#current}}<span>You</span>{{/current}}
            </a>
        </li>
        {{/users}}
    </ul>
</main>

<script type="text/javascript" src="{{baseUrl}}spirit/views/js/users.js"></script>
<script type="text/javascript" src="{{baseUrl}}spirit/views/js/dialog.js"></script>