* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --standard-padding: 1rem;
  --background-color: rgb(25, 25, 25);
  --color: rgb(238, 238, 238);
  --link-color: rgb(157, 148, 223);
  background-color: var(--background-color);
  color: var(--color);
  color-scheme: dark;
  font-family: Inter, sans-serif;
  line-height: 1.5;
  scrollbar-width: thin;
  scroll-snap-type: y proximity;
  scroll-snap-align: start;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#root {
  margin: 1rem auto;
  max-width: 30rem;
}
