* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* scrollbar-width: thin;
  scroll-snap-type: y proximity;
  scroll-snap-align: start; */
}

body {
  --standard-padding: 1rem;
  --background-color: rgb(25, 25, 25);
  --color: rgb(238, 238, 238);
  --link-color: rgb(160, 149, 240);
  background-color: var(--background-color);
  color: var(--color);
  color-scheme: dark;
  font-family: Inter, sans-serif;
  line-height: 1.5;
  transition: background-color 1s, color 1s;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 1s;
}

a:hover {
  text-decoration: underline;
}

#root {
  margin: 0 auto;
  padding: 1px 0;
  max-width: 30rem;
}
