* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  --standard-padding: 1rem;
  --main-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"/>');
  --background-color: rgb(25, 25, 25);
  --color: rgb(238, 238, 238);
  --link-color: rgb(160, 149, 240);
  --heading-font-size: 1.7rem;
  --heading-size: calc(2.2 * var(--heading-font-size));
  --max-width: 35rem;
  background-color: var(--background-color);
  color: var(--color);
  color-scheme: dark;
  font-family: Inter, sans-serif;
  line-height: 1.5;
  transition:
    background-color 1s,
    color 1s;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 1s;
}

a:hover {
  text-decoration: underline;
}

#root {
  position: relative;
  margin: 0 auto;
  padding: 1px 0;
  max-width: var(--max-width);
}

/* Background image blur */
#root::before {
  content: "";
  position: fixed;
  top: -10%;
  left: -10%;
  width: 110%;
  height: 110%;
  background-image: var(--main-image);
  background-position: center;
  filter: blur(3rem);
  opacity: 0.1;
  z-index: -1;
  transition: background-image 1s;
}
