/**
 * Color palette:
 *
 * #F7FEFF  rgb(38, 41, 42)
 * #83CCBC 
 * #D1370E 
 * #0082f0 
 * #26292A
 */

body {
    background: #F7FEFF;
}

header {
        background: rgba(38, 41, 42, .95);
        color: white;
    }
    header a {
        color: white;
        opacity: .7;
    }
    header a:hover {
        opacity: 1;
}

nav li.current a, nav li a:hover {
        background: #181818;
    }
    nav li:last-child a:hover {
        background: #0082f0;
}

#toolbox {
        background: rgba(224, 224, 224, .95);
    }
    #toolbox a {
        color: black;
        opacity: .7;
    }
    #toolbox a:hover {
        background: #ccc;
        opacity: 1;
    }
    #toolbox li {
        transition: opacity .2s;
    }
    #toolbox li.clearFilters a {
        background: #ccc;
    }
    #toolbox li.edit a:hover {
        background: #0082f0;
        color: white;
    }
    #toolbox li.delete a:hover {
        background: #D1370E;
        color: white;   
}