.photo {
        color: #555;
        text-align: right;
    }
    .photo > img {
        margin-bottom: .5em;
    }
    .photo > em {
        display: block;
        font-style: normal;
        text-align: right;
    }
    .photo > em > img {
        margin-top: -3px;
        margin-left: 5px;
}

.photostream, .albumstream, .userstream {
        display: block;
        margin-left: 0;
        list-style: none;
    }
    .photostream li {
        position: relative;
        display: inline-block;
        max-width: 42%;
        margin-right: .3em;
        margin-bottom: .3em;
        border: .35em solid transparent;
        transition: border .2s;
    }
    .photostream li label {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 2em;
        height: 2em;
        text-indent: -9999em;
        visibility: hidden;
        z-index: 1;
    }
    .photostream li label input {
        position: absolute;
        left: 5px;
        top: 5px;
    }
    .photostream li:hover label, .photostream li.selected label { visibility: visible; }
    .photostream li a.permalink {
        display: block;
        overflow: hidden;
        width: 0;
        height: 0;
        text-decoration: none;
        visibility: hidden;
    }
    .photostream li:hover a.permalink, .photostream li.selected a.permalink { visibility: visible; }
    .photostream li:hover img, .photostream li.selected img { opacity: .9; }
    .photostream li a.permalink::before {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 1.5em;
        height: 1.5em;
        margin: 0;
        background: #26292A; 
        color: white;
        line-height: 1.5em;
        text-align: center;
        text-decoration: none;
        z-index: 1;
}

.albumstream > li {
        position: relative;
        display: block;
        margin-bottom: 1em;
        padding: 1px 1em;
        padding-top: 2.5em;
        background: #26292A;
        color: white;
    }
    .albumstream > li::after {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        display: block;
        background: #26292A;
        content: '';
        opacity: .3;
        z-index: 0;
    }
    .albumstream > li:hover::after { opacity: .5; }
    .albumstream > li > * { position: relative; z-index: 1; }
    .albumstream h3 {
        height: 1.2em;
        overflow: hidden;
        font-size: 1em;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-overflow: ellipsis;
        font-weight: bold;
    }
    .albumstream h3 em { 
        font-style: normal; 
        font-size: .8em;
        font-weight: normal; 
    }
    .albumstream p { 
        overflow: hidden;
        white-space: nowrap;
    }
    .albumstream a {
        color: white;
        opacity: .7;
        text-decoration: none;
    }
    .albumstream a:hover {
        opacity: 1;
        text-decoration: underline;
    }
    .albumstream img { display: none; }
    .albumstream ul, ul.inline {
        margin-left: 0;
        list-style: none;
    }
    .albumstream ul { margin-top: -1em; }
    .albumstream ul li, ul.inline li { display: inline; }
    .albumstream ul li::after, ul.inline li::after { content: ", "; }
.albumstream ul li:last-child::after, ul.inline li:last-child::after { content: ""; }

.userstream > li > a {
        position: relative;
        display: block;
        height: 50px;
        margin-bottom: 1em;
        overflow: hidden;
        padding: 10px;
        background: #e0e0e0;
        color: black;
        line-height: 45px;
        text-decoration: none;
    }
    .userstream > li > a:hover { background: #ccc; }
    .userstream > li img { margin-right: .5em; }
    .userstream > li span {
        background: #0082f0;
        margin-left: 5px;
        padding: 2px 5px;
        color: white;
        font-size: .7em;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .userstream > li span.root {
        background: #D1370E;
}

.albums {
        margin-left: 0;
        list-style: none;
        transition: opacity 1s;
    }
    .albums.disabled {
        opacity: .3;
    }
    .albums li {
        display: inline;
        padding: .2em .4em;
        margin-right: .2em;
        margin-bottom: .2em;
        font-size: .8em;
        cursor: default;
    }
    .albums li a {
        display: inline-block;
        height: 1.1em;
        width: 1em;
        overflow: hidden;
        margin-left: 2px;
        font-size: .8em;
        color: transparent;
    }
    .albums li a::before {
        margin: 0; 
        color: black;
    }
    .albums li:hover { opacity: 1; }
.albums li:hover a::before { color: white; }

#dialog {
        position: fixed;
        left: 0;
        top: -100%;
        width: 100%;
        max-height: 66%;
        overflow: auto;
        background: rgba(255, 255, 255, .95);
        z-index: 100;
        transition: top .5s;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    }
    #dialog.show {
        top: 0;
}

#overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
        background: #26292A;
        opacity: 0;
        z-index: 99;
    }
    #overlay.show {
        display: block;
        opacity: .1;
}

#albumpicker ol, #monthpicker ol, #monthpicker ul {
        list-style: none;
        margin-left: 0;
    }
    #albumpicker ol li a, #monthpicker ol li a {
        display: block;
        padding: .5em;
        color: black;
        text-decoration: none;
    }
    #albumpicker ol li + li a { border-top: 1px solid #DEE6ED; }
    #albumpicker ol li a:hover, #albumpicker ol li a:focus,
    #monthpicker ol li a:hover, #monthpicker ol li a:focus {
        background: #0082f0;
        color: white;
}

#monthpicker ul {
        font-size: 1.2em;
        text-align: center;
    }
    #monthpicker ul li, #monthpicker ul li a, #monthpicker ul li a::before {
        display: inline-block;
    }
    #monthpicker ul li a, #monthpicker ul li a::before {
        height: 1.5em;
        width: 1.5em;
        overflow: hidden;
        text-decoration: none;
        line-height: 1.5em;
    }
    #monthpicker ul li:first-child, #monthpicker ul li:last-child {
        position: relative;
        top: .4em;
    }
    #monthpicker ul input {
        border: 1px solid transparent;
        width: 2.5em;
        background: transparent;
        text-align: center;
        font-weight: bold;
    }
    #monthpicker ul input:focus {
        border: 1px solid #aaa;
        background: white;
    }
    #monthpicker ol {
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
    }
    #monthpicker ol li a { border-bottom: 1px solid #DEE6ED; }
    #monthpicker ol li a.disabled { color: #aaa; }
    #monthpicker ol li a.disabled:hover, #monthpicker ol li a.disabled:focus {
        background: transparent;
        color: #aaa;
}

.dropzone {
        position: relative;
        border: 5px dashed #ccc;
        padding: 1em;
        color: #aaa;
        font-size: 1.2em;
        text-align: center;
        transition: .5s border,
                    .5s background;
    }
    .dropzone.loading {
        background: #0082f0;
        border: 5px solid #0082f0;
    }
    .dropzone .dz-message { cursor: pointer; }
    .dropzone .progress {
        background: white;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0;
        position: absolute;
        opacity: .3;
        transition: width .5s;
    }
    .dz-preview {
        margin-bottom: .5em;
        margin-right: .5em;
        position: relative;
    }
    .dz-preview {
        display: inline-block;
    }
    .dz-image, .dz-image img {
        background: #ccc;
        width: 99px;
        height: 99px;
    }
    .dz-details,
    .dz-progress, .dz-success-mark,
    .dz-error-mark, .dz-error-message {
        display: none;
    }
    .dz-remove::before {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 1.7em;
        height: 1.7em;
        margin: 0;
        background: #26292A; 
        color: white;
        font-size: .8em;
        line-height: 1.7em;
        text-align: center;
        text-decoration: none;
    }
    .dz-preview:hover .dz-remove::before { display: block; }
    .dropzone.loading ~ .uploadqueue .dz-preview:hover .dz-remove::before { display: none; }
    .dz-remove {
        display: block;
        height: 0;
        width: 0;
        overflow: hidden;
}