.photostream {
        display: inline-block;
        list-style: none;
        text-align: center;
    }
    .photostream li {
        background: black;
        position: relative;
        display: inline-block;
        margin-bottom: 1em;
        margin-right: 1em;
        outline: 5px solid transparent;
        transition: outline .2s;
    }
    .photostream li input {
        position: absolute;
        left: 5px;
        top: 5px;
        visibility: hidden;
        z-index: 1;
    }
    .photostream li:hover input, .photostream li.selected input { visibility: visible; }
    .photostream li a.permalink {
        display: block;
        overflow: hidden;
        width: 0;
        height: 0;
        text-decoration: none;
        visibility: hidden;
    }
    .photostream li:hover a.permalink, .photostream li.selected a.permalink { visibility: visible; }
    .photostream li:hover img, .photostream li.selected img { opacity: .9; }
    .photostream li.selected {
        outline: 5px solid #0082f0;
    }
    .photostream li a.permalink::before {
        content: '\f1fe';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 1.5em;
        height: 1.5em;
        background: #26292A; 
        color: white;
        font-family: Ionicons;
        line-height: 1.5em;
        text-align: center;
        text-decoration: none;
        z-index: 1;
    }
    .photostream li a.permalink:hover::before { background: #0082f0; }
    .photostream li { max-width: 42%; }
.photostream li img { max-width: 100%; }