input { padding: .2em .3em; }

.form {
        margin-left: 0;
        list-style: none;
    }
    .form > li {
        background: white;
        border: 1px solid #ccc;
        border-top: none;
        margin: 0;
    }
    .form > li:first-child {
        border-top: 1px solid #ccc;
    }
    .form > li ul {
        margin: 0;
}

.form label {
        display: block;
        padding: .5em;
        padding-top: 0;
    }
    .form label > span:first-child {
        display: block;
        padding: .3em 0;
        color: #aaa;
        font-size: .8em;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .form label input[type="text"], .form label input[type="password"], .form label input[type="number"],
    .form label textarea , .form label .ace {
        display: block;
        padding: 0;
        background: transparent;
        border: none;
        width: 100%;
}

.form + p, .dropzone + p {
    text-align: right;
}

textarea { height: 7em; }
.ace { position: relative; }

button, .button {
    padding: .3em .6em;
    border: none;
    cursor: pointer;
    line-height: 1em;
}
.button {
    display: inline-block;
    color: black;
    text-decoration: none;
}
button:hover, .button:hover { opacity: 1; }

/**
 * Custom forms
 */

.form .title input { 
    font-size: 1.2em;
    font-weight: bold; 
}

.form .albums label { padding-bottom: 0; }
.form .albums label + .albums { 
    padding: 0 .5em .5em .5em;
    display: none;
}