nav ul li:nth-child(1) a::before { content: "\f147"; }
nav ul li:nth-child(2) a::before { content: "\f148"; }
nav ul li:nth-child(3) a::before { content: "\f212"; }
nav ul li:nth-child(4) a::before { content: "\f2ad"; }
nav ul li:last-child a::before { content: "\f213"; }

#toolbox ul li.back a::before { content: "\f2ca"; }
#toolbox ul li.upload a::before { content: "\f366"; }
#toolbox ul li.edit a::before { content: "\f2bf"; }
#toolbox ul li.delete a::before { content: "\f252"; }
#toolbox ul li.clearFilter a::before { content: "\f36e"; }
#toolbox ul li.filter a::after { content: "\f35f"; }