nav ul li a::before, #toolbox li a::before,
button::before, .button::before,
.photostream li a.permalink::before, .albums li a::before,
.dz-remove::before, #monthpicker ul li:first-child a::before,
#monthpicker ul li:last-child a::before, #albumpicker ol li.add a::before
{ font-family: Ionicons; margin-right: .5em; }

#toolbox li a::after
{ font-family: Ionicons; margin-left: .5em; }

nav ul li:nth-child(1) a::before { content: "\f147"; }
nav ul li:nth-child(2) a::before { content: "\f148"; }
nav ul li:nth-child(3) a::before { content: "\f212"; }
nav ul li:nth-child(4) a::before { content: "\f2ad"; }

#toolbox li.back a::before 
{ content: "\f2ca"; }
#toolbox li.add a::before, .albums li:last-child a::before, #albumpicker ol li.add a::before
{ content: "\f218"; }
#toolbox li.upload a::before 
{ content: "\f366"; }
#toolbox li.edit a::before 
{ content: "\f2bf"; }
#toolbox li.delete a::before, .button.delete::before, button.delete::before
{ content: "\f252"; }
#toolbox li.clearFilter a::before 
{ content: "\f36e"; }
#toolbox li.filter a::after 
{ content: "\f35f"; }
#toolbox li.about a::before
{ content: "\f279"; }
.photostream li a.permalink::before 
{ content: '\f1fe'; }
button[type="submit"]::before 
{ content: "\f122"; }
button[type="reset"]::before, .albums li a::before, .dz-remove::before
{ content: "\f12a"; }
#monthpicker ul li:first-child a::before
{ content: "\f124"; }
#monthpicker ul li:last-child a::before
{ content: "\f125"; }