header, #toolbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
header h1 { float: left; }

nav ul { margin: 0; }
nav ul li:last-child { float: right; }
nav ul li a, #toolbox ul li a { margin-top: 0; margin-bottom: 0; }

#toolbox { top: 3.6em; }
#toolbox .search {
    text-align: right;
}
#toolbox .search input {
    margin-top: -.2em;
    margin-bottom: -.2em;
}

main { margin-top: 6.5em; }
#dialog main { margin-top: 0; }

main p.photo {
        float: left;
        margin-right: 2%;
        margin-top: 0;
        width: 48%;
        text-align: right;
    }
    main p.photo + .form {
        float: left;
        width: 50%;
        margin-top: 0;
}

.form .date {
    float: right; 
    width: 10em;
}

.albumstream > li {
    float: left;
    margin-right: 1em;
    width: 285px;
}

#dialog {
    left: 50%;
    width: 30em;
    margin-left: -15em;
}