.throbber, #toolbox .edit, #toolbox .delete, #toolbox .search { display: none; }
hr { clear: both; }

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 300px;
}

header {
        padding: 1em;
        position: relative;
    }
    header h1 {
        margin-right: 1em;
        font-size: 1.3em;
        font-weight: lighter;
        letter-spacing: 2px;
        text-transform: uppercase;
}

nav { overflow: hidden; }
nav ul, #toolbox ul {
        list-style: none;
        margin: 1em 0 0;
        font-size: .8em;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    nav ul li, #toolbox ul li {
        display: block;
        float: left;
    }
    nav ul li a, #toolbox ul li a {
        display: block;
        float: left;
        margin: .3em 1em .2em 0;
        padding: .4em .7em;
        text-decoration: none;
    }
    nav ul li:last-child {
        position: absolute;
        right: 1em;
        top: 1em;
    }
    nav ul li a img {
        margin-top: -3px;
        margin-right: .5em;
}

#toolbox {
        overflow: hidden;
        padding: .5em 1em;
    }
    #toolbox ul { 
        margin: 0;
        font-size: 1em;
        letter-spacing: 0;
        line-height: 1em;
        text-transform: none;
    }
    #toolbox ul li.checkbox label {
        display: block;
        width: 16px;
        margin: .6em 1em .5em 8px;
        text-align: center;
    }
    #toolbox ul li a { padding: .3em .6em; }
    #toolbox .search input {
        margin: .3em 0 .2em 0
}

main {
        display: block;
        overflow: hidden;
        padding: 1px 1em;
    }
    main h2 {
        position: absolute;
        left: -9999em;
        top: -9999em;
}

#pagination {
        margin: 0;
        list-style: 0;
    }
    #pagination a {
        display: block;
        padding: 1em;
        font-size: 1.5em;
        font-weight: lighter;
        text-align: center;
        text-decoration: none;
        text-transform: lowercase;
}