.ace_line * { color: black; }
.ace_heading, .ace_strong { font-weight: bold; }
.ace_underline, .ace_url { text-decoration: underline; }
.ace_emphasis { font-style: italic; }
.ace_blockquote { opacity: .8; }