body, input, textarea, .ace, button {
    font: 100% 'Source Sans Pro', sans-serif;
    word-wrap: break-word;
}

textarea { font-family: Consolas, Monaco, 'Courier New', monospace; }

h1, h2 { font-weight: lighter; }
h1 { font-size: 3em; }
h2 { font-size: 2em; }

h2, h3, h4, h5, h6, p, ol, ul, blockquote, form {
    margin: 1em 0;
}

ol, ul, blockquote {
    margin-left: 1.5em;
}

img {
    max-width: 100%;
    vertical-align: middle;
}