body {
    font: 100% 'Source Sans Pro', sans-serif;
    word-wrap: break-word;
}

h1, h2 { font-weight: lighter; }
h1 { font-size: 3em; }
h2 { font-size: 2em; }

h2, h3, h4, h5, h6, p, ol, ul, blockquote {
    margin: 1em 0;
}

img { vertical-align: middle; }